@media (max-width: 1660px) {
  .container {
    width: 90%;
  }

  .popup {
    padding: 40px 30px;
    overflow: auto;
    max-height: 90vh;

    &__img {
      height: 80px;
      margin-bottom: 15px;
    }

    &__title {
      font-weight: 500;
      font-size: 22px;
      margin-bottom: 20px;
    }

    &__form-input {
      padding: 8px 20px;
      font-size: 18px;
      border: 1px solid #000;
      border-radius: 4px;
      margin-bottom: 15px;
    }

    &__form-submit {
      font-size: 18px;
      padding: 10px 50px;
      letter-spacing: normal;
    }
  }

  .header {
    &__top {
    }

    &__top-left {
      &__logo {
        width: 150px;
      }
    }
  }

  .search {
    &__input,
    &__button {
      padding: 6px 12px;
    }
  }

  .nav {
    &__item-link {
      padding: 20px 0;
    }

    &__item-menu {
      top: 155px;
    }
  }

  .product {
    &__img {
      height: fit-content;
      margin: 0 auto 25px;
    }
  }

  .breadcrumbs {
    margin-bottom: 20px;

    &__list-item {
      font-size: 16px;
      margin-right: 8px;
      padding: 10px 14px 10px 0;
    }
  }

  .banner {
    .swiper-button-prev {
      left: -20px;
    }

    .swiper-button-next {
      right: -20px;
    }
  }

  .popular {
    &__item {
      padding: 30px 20px;

      img {
        height: 150px;
        object-fit: contain;
      }
    }
  }

  .catalog {
    &__title {
      margin-bottom: 20px;
    }

    &__item {
      font-size: 19px;
    }
  }

  .products {
    &__title {
      margin-bottom: 20px;
    }

    &__top {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .aside-filter {
      &__form-item {
        &__input {
          margin: 10px 20px 10px 0;
        }
      }
    }

    &__content-item {
      padding: 30px 20px;
      max-width: 320px;

      &__img {
        height: 150px;

        img {
          width: 70%;
        }
      }
    }
  }

  .product-item {
    &__img {
      width: 50%;
      padding: 0 20px 0 0;
    }

    &__content {
      .swiper-slide {
        width: 80px;
        height: 70px;
      }
    }

    &__descr-specs {
      flex: 0 0 45%;
    }

    &__descr-about {
      flex: 0 0 50%;
    }
  }
}

@media (max-width: 1200px) {
  .container {
    width: 90%;
  }

  body {
    font-size: 14px;
  }

  .nav {
    &__item-menu {
      top: 175px;
    }
  }

  .banner {
    &__slide {
      grid-template-rows: 150px 150px;
    }

    &__slide-item {
      padding: 0 40px;

      &.small {
        .banner__slide-item__title {
          font-size: 24px;
        }

        .banner__slide-item__price {
          font-size: 16px;
        }

        .banner__slide-item__button {
          padding: 8px 20px;
          font-size: 14px;
        }
      }

      &__title {
        font-size: 42px;
      }

      &__price {
        font-size: 28px;
      }

      &__button {
        padding: 10px 40px;
      }
    }
  }

  .popular {
    &__item {
      flex: 0 0 45%;
    }
  }

  .products {
    &__content {
      justify-content: space-between;
    }

    &__content-list {
      justify-content: flex-end;
    }

    &__content-item {
      flex: 0 0 45%;
    }
  }

  .catalog {
    &__item {
      font-size: 18px;
    }
  }

  .product-item {
    padding: 0 0 60px;

    &__wrapper {
      flex-direction: column;
    }

    &__img {
      width: unset;
      height: 100%;
      padding: 0;
      margin-bottom: 20px;

      .swiper-container {
        max-height: 250px;

        .swiper-slide img {
          width: auto;
          height: 100%;
        }
      }
    }
  }

  .result {
    &__list {
      justify-content: flex-start;
    }

    &__item {
      flex-basis: 50%;
    }
  }
}

@media (max-width: 950px) {
  .file {
    padding: 5px;
  }
  .form {
    &__item-list {
      &__item {
        min-height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__item-text {
        font-size: 14px;
        margin-top: 0;
        svg {
          width: 15px;
          height: 15px;
          margin-bottom: 5px;
        }
      }
    }
  }
  .admin-popup {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: auto;
    padding: 70px 20px;
    transform: translate(0, 0);
    overflow-y: auto;
    .nav {
      left: 0;
      right: 0;
      width: 100%;
      transform: translate(0);
    }
  }
  .banner-popup {
    &__form-item {
      &.file {
        margin: 0;
      }
    }
  }

  .search {
    width: 100%;

    &__input {
      min-width: auto;
    }
  }

  .popup {
    padding: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    transition: all 0.5s;
    overflow-y: auto;
    max-height: 100vh;
    transform: translate(0, 0);

    &__img {
      height: 80px;
    }

    &__title {
      font-size: 22px;
      margin-bottom: 20px;
    }

    &__form-input {
      font-size: 18px;
      padding: 10px 20px;
      margin-bottom: 15px;
    }

    &__form-submit {
      font-size: 18px;
      padding: 10px;
    }
  }

  .body {
    .title {
      font-size: 26px;
    }

    .breadcrumbs {
      width: 100%;

      &__list {
        white-space: nowrap;
        overflow-x: auto;
      }

      &__list-item {
        font-size: 16px;
      }
    }
  }

  .dropdown {
    &__title {
      position: relative;
      cursor: pointer;

      &::after {
        content: "";
        width: 12px;
        height: 7px;
        position: absolute;
        right: 0;
        top: 50%;
        background-image: url("../images/arrow-down.svg");
        background-repeat: no-repeat;
        transform: translateY(-50%) rotate(-90deg);
        transition: transform 0.3s;
      }

      &.active::after {
        transform: translateY(-50%) rotate(0deg);
      }
    }

    &__list {
      opacity: 0;
      max-height: 0px;
      transition: all 0.25s;
      visibility: hidden;

      &.active {
        opacity: 1;
        max-height: 1000px;
        margin-bottom: 0;
        padding-bottom: 50px;
        visibility: visible;
      }
    }
  }

  .header {
    margin-bottom: 20px;

    &__top-search {
      display: none;
    }

    &__top-left {
      &__logo {
        width: 120px;
      }

      &__call {
        display: none;
      }
    }

    &__top-burger {
      display: block;
      width: 25px;
      height: 15px;
      background: transparent;
      border: none;
      padding: 0;
      position: relative;
      display: flex;
      align-items: center;

      span {
        display: inline-block;
        width: 100%;
        background-color: #000;
        height: 1px;

        &::before,
        &::after {
          width: 100%;
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          height: 1px;
          background-color: #000;
          transition: all 0.2s;
        }

        &::before {
          top: 0;
        }

        &::after {
          bottom: 0;
        }
      }
    }

    &__mobile {
      margin: 15px 5%;
      display: block;
    }

    &__overflow {
      position: fixed;
      right: 0;
      top: 0;
      left: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s;

      &.active {
        visibility: visible;
        opacity: 1;
        z-index: 30;
      }
    }
  }

  .footer {
    padding: 20px 0 0;

    &__item-title {
      padding: 15px 0;
      margin-bottom: 0;
    }

    &__list {
      flex-direction: column;
      align-items: stretch;
    }

    &__contacts {
      margin-top: 15px;
      padding: 25px 50px 15px;
    }

    &__contacts-email {
      margin-bottom: 15px;
    }
  }

  .nav {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    margin-top: 0;
    width: 340px;
    transform: translateX(100%);
    transition: transform 0.3s;
    z-index: 32;
    overflow-y: auto;

    &.active {
      transform: translateX(0);
    }

    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 5%;
      margin-bottom: 50px;
      border-bottom: 1px solid rgba(180, 180, 180, 0.5);
    }

    &__close {
      border: none;
      background: transparent;
    }

    &__list {
      flex-direction: column;
      height: 100%;
      justify-content: space-around;

      .container {
        width: 100%;
      }
    }

    &__item {
      text-align: left;
      padding: 0;
    }

    &__item-link {
      padding: 10px 0;
      display: block;
    }

    &__item-menu {
      position: static;
      padding: 0;
      max-height: 0;
      transition: all 0.3s;

      &:hover {
        opacity: 0;
        visibility: hidden;
      }

      &.active {
        padding: 10px 0;
        opacity: 1;
        visibility: visible;
        max-height: 1000px;

        .nav__item-menu__list {
          max-height: 1000px;
        }
      }

      &__title {
        display: none;
      }

      &__list {
        flex-direction: column;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.3s;
        flex-wrap: nowrap;
      }

      &__item {
        flex: 0 0 100%;
        margin: 10px 0;
      }
    }
  }

  .banner {
    &__slide-item {
      padding: 0 20px;

      &.small {
        padding: 0 20px;
      }

      &__title {
        font-size: 26px;
        margin-bottom: 10px;
      }

      &__price {
        font-size: 16px;
        margin-bottom: 10px;
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      display: none;
    }
  }

  .product {
    padding: 30px 25px;

    &__img {
      height: 150px;
      margin: 0 auto 30px;

      img {
        width: auto;
      }
    }
  }

  .popular {
    padding: 0 0 30px;

    &__item {
      flex: 0 0 45%;
    }
  }

  .about {
    padding: 0 0 20px;

    &__title {
      margin-bottom: 25px;
      font-size: 36px;
    }

    &__prgph {
      font-weight: 300;
      margin-bottom: 10px;
    }

    &__img {
      img {
        width: 100%;
      }
    }
  }

  .products {
    margin-bottom: 50px;

    &__top {
      margin-bottom: 30px;
    }

    &__top-filter {
      &__text {
        margin-right: 10px;
      }

      &__button {
        &::after {
          content: "";
        }

        padding: 0;
        margin: 0 5px;
      }
    }

    &__content {
      flex-direction: column;
    }

    .aside-filter {
      flex-basis: 100%;

      &__title {
        display: block;
        width: 100%;
        margin-bottom: 15px;
        padding: 10px;
        background: transparent;
        border: 1px solid #000;
        text-align: left;

        &::after {
          right: 10px;
        }
      }

      &__form-item {
        margin-bottom: 15px;
      }
    }

    &__content-list {
      flex-basis: 100%;
      justify-content: center;
    }

    &__content-item {
      max-width: 100%;
      flex: 1 0 45%;

      &__img {
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }

  .product-item {
    padding: 0 0 30px;

    &__content {
      .swiper-container {
        display: none;
      }
    }

    &__title {
      font-size: 26px;
    }

    &__content-title {
      font-size: 18px;
    }

    &__content-price {
      margin-bottom: 15px;

      &__value {
        font-size: 32px;
      }
    }

    &__content-button {
      margin-bottom: 20px;
      font-size: 17px;
      width: 100%;
      border-radius: 4px;
    }

    &__content-list {
      &__title {
        font-size: 21px;
        margin-bottom: 20px;
      }
    }

    &__descr {
      flex-direction: column;
    }

    &__descr-specs {
      flex: 0 0 100%;
      order: 2;
    }

    &__descr-about {
      flex: 0 0 100%;
      order: 1;
      margin-bottom: 50px;

      &__content {
        padding: 25px 17px 10px;
      }

      &__content-prgph {
        margin-bottom: 15px;
      }
    }
  }

  .catalog {
    &__item {
      padding: 25px;
      flex: 0 0 50%;
    }
  }

  .result {
    padding-bottom: 25px;

    &__title {
      margin-bottom: 25px;
    }

    &__list {
      justify-content: center;
    }

    &__item {
      flex-basis: 100%;
    }
  }
}

@media (max-width: 550px) {
  .body {
    .title {
      font-size: 22px;
    }
  }
  .auth {
    &__title {
      margin-bottom: 20px;
    }

    &__form {
      min-width: 100%;
    }

    &__form-item {
      display: flex;
      align-items: stretch;
      flex-direction: column;
      font-size: 17px;
      position: relative;

      &__label {
        margin-bottom: 15px;
      }

      &__input {
        margin-bottom: 15px;
        padding: 10px 20px;
      }
    }

    &__form-submit {
      font-size: 17px;
    }
  }
  .form {
    &__item-list {
      justify-content: flex-start;

      &__item {
        flex: 0 0 40%;
        margin: 10px;
        max-width: 140px;
        img {
          height: 80%;
          width: 55%;
        }
      }
    }
    &__item-title {
      font-size: 18px;
      margin-bottom: 30px;
    }
    &__submit {
      padding: 14px 50px;
    }
  }
  .admin-popup {
    .nav {
      &__item-link {
        font-size: 17px;
      }
      &__item-menu {
        &__item {
          font-size: 17px;
        }
      }
    }
    &__checkbox-item {
      font-size: 14px;
    }
    &__checkbox-bottom {
      flex-direction: column;
      align-items: flex-start;
    }
    &__checkbox-button {
      padding: 5px 0;
      font-size: 16px;
    }
  }
  .catalog-popup {
    &__title {
      font-size: 18px;
    }
  }
  .products-popup {
    &__form-bottom {
      align-items: center;
      flex-direction: column;
      &__button {
        margin-top: 10px;
        padding: 14px 50px;
      }
    }
  }

  .header {
    &__mobile {
      margin: 30px 5% 0;
    }
  }

  .product {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    padding: 20px;
  }

  .banner {
    .swiper-wrapper {
      // display: flex;
    }

    &__slider {
      // overflow-x: auto;
    }

    &__slide {
      display: flex;
      min-width: min-content;
    }

    &__slide-item {
      margin-right: 10px;
      min-width: 70vw;
      min-height: 170px;
    }
  }

  .popular {
    &__item {
      flex: 0 0 100%;
    }
  }

  .products {
    &__top-filter {
      display: block;
      width: 100%;

      &__text {
        margin-bottom: 10px;
      }

      &__button {
        margin: 0 10px 0 0;
      }
    }

    &__content-item {
      flex-basis: 100%;
    }
  }

  .catalog {
    &__title {
      margin-bottom: 20px;
    }

    &__item {
      padding: 15px 0;
      flex: 0 0 100%;
    }

    &__item-link {
    }

    &__item-price {
      white-space: nowrap;
    }
  }

  .footer {
    &__contacts {
      padding: 35px 25px 15px;
    }

    &__contacts-email {
      margin-bottom: 25px;
    }

    &__bottom-wrapper {
      flex-direction: column;
      text-align: center;
    }

    &__bottom-text {
      margin-bottom: 10px;
      line-height: 1.5;
    }
  }
}

@media (max-width: 380px) {
  .nav {
    width: 100%;
  }
}
