.popup {
    position: fixed;
    width: 580px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 31;
    background-color: #fff;
    text-align: center;
    padding: 40px 50px 60px;
    visibility: hidden;
    transition: all .3s;
    opacity: 0;
    &::before{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .3);
        z-index: 12;
        visibility: hidden;
    }
    &.active {
        opacity: 1;
        visibility: visible;
    }

    &.loading {
        &::before{
            visibility: visible;
        }
        .lds-ripple{
            opacity: 1;
            visibility: visible;
        }
    }
    &.result{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 30vh;
    }
    &__close {
        position: absolute;
        top: 25px;
        right: 25px;
        background-color: #fff;
        border: none;
    }

    &__img {
        margin-bottom: 30px;
    }

    &__title {
        font-weight: 500;
        font-size: 30px;
        margin-bottom: 40px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__form-input {
        padding: 15px 30px;
        font-size: 21px;
        border: 1px solid #000;
        border-radius: 4px;
        margin-bottom: 30px;
        transition: all .3s;

        &.wrong {
            border: 1px solid #FF5B5B;

            &,
            &::placeholder {
                color: #FF5B5B;

            }
        }
    }

    &__form-submit {
        font-size: 21px;
        padding: 15px 50px;
        letter-spacing: normal;
    }

}

.lds-ripple {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    z-index: 13;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

.lds-ripple div {
    position: absolute;
    left: 50%;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

.overflow {
    z-index: 30;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    visibility: hidden;
    opacity: 0;
    transition: all .4s;

    &.active {
        opacity: 1;
        visibility: visible;
    }
}